---
import ArticleList from "../../components/ArticleList.astro";
import Section from "../../components/Section.astro";
import SectionHomeLink from "../../components/SectionHomeLink.astro";
import Layout from "../../layouts/Layout.astro";
import { getPublishedBlogPosts } from "../../helpers";

const posts = await getPublishedBlogPosts();
---

<Layout title="Articles">
  <Section cssClass="section-article">
    <h1>Articles</h1>
    <ArticleList posts={posts} />
  </Section>
  <SectionHomeLink />
</Layout>
