---
import ArticleList from "../../components/ArticleList.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Section from "../../components/Section.astro";
import SectionHomeLink from "../../components/SectionHomeLink.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="Articles">
  <Section cssClass="section-article">
    <h1>Articles</h1>
    <ArticleList posts={posts} />
  </Section>
  <SectionHomeLink />
</Layout>
