---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { siteTitle } from "../siteData";
---

<Layout title={siteTitle} isHome={true}>
	<p>Projects</p>
	<p>Blog</p>
</Layout>
