---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Theme demo">
  <Section cssClass="section-primary">
    <h2>Theme Colors</h2>
    <p class="intro">
      These are the theme colors. They are <em>seasonally-appropriate</em> (at least
      in my opinion).
    </p>
    <div style={{ display: "flex", gap: "1rem" }}>
      {
        ["accent", "pop", "secondary", "alt"].map((theme) => (
          <div class={`box bg-theme-${theme}`} style={{ width: "25%" }}>
            <p>{theme}</p>
          </div>
        ))
      }
    </div>
  </Section>
  <Section cssClass="section-more">
    <h2>Elements Demo</h2>
    <div class="g2 sticky">
      <div class="stuck">
        <ul class="inline-list">
          <li><a href="#core">Core</a></li>
          <li><a href="#text">Text</a></li>
          <li><a href="#lists">Lists</a></li>
          <li><a href="#forms">Forms</a></li>
        </ul>
      </div>
    </div>
    <div id="demos" class="g10">
      <h2 class="demo-heading" id="core">Core</h2>

      <div class="demo-item">
        <h3 class="styleguide-heading">Link</h3>
        <p>
          Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing
          elit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Strong</h3>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Emphasis</h3>
        <p>
          Lorem ipsum <em>dolor sit</em> amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Delete</h3>
        <p>
          Lorem ipsum dolor sit <del>amet</del>, consectetur adipiscing elit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Figure and caption</h3>
        <figure>
          <img
            src="https://picsum.photos/400/300"
            width="400"
            height="300"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://picsum.photos/400/300"
            width="400"
            height="300"
            alt=""
          />
          <figcaption>This is a figcaption for an image of a kitty.</figcaption>
        </figure>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Image alignment</h3>
        <p>
          <img
            src="https://picsum.photos/400/300"
            class="left"
            width="400"
            height="300"
            alt=""
          />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est
          dolor, bibendum eu magna in, euismod pharetra diam. Cras varius, neque
          in pellentesque vehicula, lorem augue fringilla ligula, at adipiscing
          nulla nunc non felis. Aenean laoreet dui eget elit tincidunt
          convallis.
        </p>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio. Sed at erat iaculis, lobortis libero id,
          lobortis odio.
        </p>

        <p class="clear">
          <img
            src="https://picsum.photos/400/300"
            class="right"
            width="400"
            height="300"
            alt=""
          />Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio. Sed at erat iaculis, lobortis libero id,
          lobortis odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est
          dolor, bibendum eu magna in, euismod pharetra diam. Cras varius, neque
          in pellentesque vehicula, lorem augue fringilla ligula, at adipiscing
          nulla nunc non felis. Aenean laoreet dui eget elit tincidunt
          convallis.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Figure alignment</h3>
        <!-- break to clear the heading -->
        <br class="clear" />

        <figure class="left">
          <img
            src="https://picsum.photos/400/300"
            width="400"
            height="300"
            alt=""
          />
          <figcaption>This is a figcaption for an image of a kitty.</figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est
          dolor, bibendum eu magna in, euismod pharetra diam. Cras varius, neque
          in pellentesque vehicula, lorem augue fringilla ligula, at adipiscing
          nulla nunc non felis. Aenean laoreet dui eget elit tincidunt
          convallis.
        </p>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio. Sed at erat iaculis, lobortis libero id,
          lobortis odio.
        </p>

        <!-- break to clear the the paragraph above -->
        <br class="clear" />

        <figure class="right">
          <img
            src="https://picsum.photos/400/300"
            width="400"
            height="300"
            alt=""
          />
          <figcaption>This is a figcaption for an image of a kitty.</figcaption>
        </figure>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio. Sed at erat iaculis, lobortis libero id,
          lobortis odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est
          dolor, bibendum eu magna in, euismod pharetra diam. Cras varius, neque
          in pellentesque vehicula, lorem augue fringilla ligula, at adipiscing
          nulla nunc non felis. Aenean laoreet dui eget elit tincidunt
          convallis.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Horizontal Rule</h3>
        <p>
          Maecenas pretium, sapien eu convallis adipiscing, lectus purus
          accumsan libero, at vestibulum nibh lorem dapibus ante. Mauris et
          ligula et neque consectetur lobortis. Morbi bibendum faucibus massa.
        </p>
        <hr />
        <p>
          Sed a massa nunc. Phasellus felis felis, varius non interdum at,
          aliquam eget justo. Curabitur vitae neque at massa ultrices sagittis
          nec ut nunc. Fusce eu ultricies purus. Vivamus vitae justo nec mauris
          vehicula viverra.
        </p>
        <hr class="narrow" />
        <p>
          Maecenas pretium, sapien eu convallis adipiscing, lectus purus
          accumsan libero, at vestibulum nibh lorem dapibus ante. Mauris et
          ligula et neque consectetur lobortis. Morbi bibendum faucibus massa.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Quote</h3>
        <p>
          Cras nisl neque <q>in eget dignissim</q> vestibulum lacus eros amet.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Small</h3>
        <p>
          Nam fringilla nibh eu odio <small>dictum</small>, eu mollis sem
          blandit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Abbreviation</h3>
        <p>
          Nam fringilla nibh eu odio dictum <abbr title="Appointment"
            >appt.</abbr
          >, eu mollis sem blandit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Acronym</h3>
        <p>
          Nam fringilla nibh eu odio dictum <acronym
            title="Cascading Style Sheets">CSS</acronym
          >, eu mollis sem blandit.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Superscript</h3>
        <p>
          Suspendisse a <sup>lorem</sup> at leo tincidunt facilisis ut eget lectus.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Subscript</h3>
        <p>
          Suspendisse a <sub>lorem</sub> at leo tincidunt facilisis ut eget lectus.
        </p>
      </div>

      <h2 class="demo-heading" id="text">Text</h2>

      <div class="demo-item">
        <h3 class="styleguide-heading">Paragraph</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est
          dolor, bibendum eu magna in, euismod pharetra diam. Cras varius, neque
          in pellentesque vehicula, lorem augue fringilla ligula, at adipiscing
          nulla nunc non felis. Aenean laoreet dui eget elit tincidunt
          convallis.
        </p>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio. Sed at erat iaculis, lobortis libero id,
          lobortis odio.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Blockquote</h3>
        <blockquote>
          Curabitur vitae neque at massa ultrices sagittis nec ut nunc. Fusce eu
          ultricies purus. Vivamus vitae justo nec mauris vehicula viverra.
          Donec egestas justo nec enim molestie feugiat. Morbi sed feugiat
          magna. Suspendisse potenti.
        </blockquote>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Blockquote, with citation</h3>
        <blockquote>
          Curabitur vitae neque at massa ultrices sagittis nec ut nunc. Fusce eu
          ultricies purus. Vivamus vitae justo nec mauris vehicula viverra.
          Donec egestas justo nec enim molestie feugiat. Morbi sed feugiat
          magna. Suspendisse potenti.
          <cite>Anonymous</cite>
        </blockquote>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Attention class (.attn)</h3>
        <p class="attn">
          Curabitur vitae neque at massa ultrices sagittis nec ut nunc. Fusce eu
          ultricies purus. Vivamus vitae justo nec mauris vehicula viverra.
          Donec egestas justo nec enim molestie feugiat. Morbi sed feugiat
          magna. Suspendisse potenti.
        </p>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Introduction class (.intro)</h3>
        <p class="intro">
          Massa ultrices sagittis nec ut nunc. Fusce eu ultricies purus. Vivamus
          vitae justo nec mauris vehicula viverra. Donec egestas justo nec enim
          molestie feugiat. Morbi sed feugiat magna. Suspendisse potenti.
        </p>
        <p>
          Quisque eu mollis est. Sed tincidunt vehicula sapien ac placerat. In
          aliquam turpis ut pulvinar mattis. Sed at urna a metus ullamcorper
          cursus id id odio. In tellus risus, pellentesque at egestas sed,
          suscipit lacinia odio.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Headings</h3>
        <h1>
          h1: Tortor viverra in Dignissim tortor sed Magna adipiscing mi Euismod
          et lacinia Magna dignissim lorem
        </h1>
        <h2>
          h2: Venenatis luctus et Vitae ante mi Erat aliquam porta Nam eros
          felis Nec gravida nec
        </h2>
        <h3>
          h3: Lorem aliquam orci Eget sed dignissim Viverra tincidunt accumsan
          Dolor dignissim et Sit fusce nisl
        </h3>
        <h4>
          h4: Viverra nunc turpis Dictum massa luctus Iaculis egestas magna Nisl
          vitae enim Euismod erat luctus
        </h4>
        <h5>
          h5: Gravida viverra magna Adipiscing ante ut Amet magna turpis Tempor
          dui et Velit egestas venenatis
        </h5>
        <h6>
          h6: Aliquam tempor pellentesque Consectetur tortor est Convallis urna
          vitae Mattis iaculis neque Auctor aliquam iaculis
        </h6>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Headings with text</h3>
        <h1>
          h1: Cras nunc pellentesque Venenatis eros duis Orci et mi Ante nam
          aliquam Ipsum ac aliquam
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
        <h2>
          h2: Est venenatis dignissim Malesuada nam convallis Dictum
          pellentesque gravida Ante a ut Gravida egestas duis
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
        <h3>
          h3: Velit ac lobortis Lacus aliquam auctor Mi magna sit Ac urna orci
          Egestas consectetur auctor
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
        <h4>
          h4: Gravida egestas convallis Vulputate duis gravida Convallis id
          vulputate Tempor nisl elit Viverra mi convallis
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
        <h5>
          h5: Enim convallis mattis Lorem nam velit Id convallis ac Sit dui
          elementum Lorem feugiat duis
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
        <h6>
          h6: Fusce erat eu Consectetur felis nunc Et eros lacus Velit cras
          vitae Nec egestas egestas
        </h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          iaculis, velit gravida convallis tincidunt, felis enim venenatis
          lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
          Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra
          luctus lacus consequat ac. Sed feugiat velit sed magna aliquam
          accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in
          aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod
          id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu.
          Vestibulum sit amet massa est.
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Monospace</h3>
        <p>
          <code
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            iaculis, velit gravida convallis tincidunt, felis enim venenatis
            lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante.
            Fusce dignissim tempor elementum. Ut dignissim convallis eros,
            viverra luctus lacus consequat ac.</code
          >
        </p>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Code block</h3>
        <pre>&lt;ul&gt;
	&lt;li&gt;Hello world&lt;/li&gt;
	&lt;li&gt;Bye world&lt;/li&gt;
&lt;/ul&gt;</pre>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Address</h3>
        <address>
          The White House<br />
          1600 Pennsylvania Ave NW, <br />
          Washington, DC 20500
        </address>
      </div>

      <h2 class="demo-heading" id="lists">Lists</h2>

      <div class="demo-item">
        <h3 class="styleguide-heading">Unordered list</h3>
        <ul>
          <li>Convallis tincidunt magna</li>
          <li>Egestas tortor eget</li>
          <li>Sit accumsan dictum</li>
          <li>Id eros sed</li>
          <li>Lorem id auctor</li>
        </ul>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Ordered list</h3>
        <ol>
          <li>Porta in tincidunt</li>
          <li>Velit tempor ante</li>
          <li>Eros eros euismod</li>
          <li>Ipsum a vitae</li>
          <li>Eget lobortis ac</li>
        </ol>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Unordered list, wrapped</h3>
        <ul>
          <li>
            Nisl eu duis dictum dignissim lorem tempor adipiscing urna cras
            felis venenatis lacus dignissim accumsan aliquam tortor porta a
            feugiat dui iaculis lorem gravida nec sed malesuada
          </li>
          <li>
            Enim dignissim fusce duis venenatis sed auctor gravida massa turpis
            viverra tempor dictum adipiscing massa porta in felis consequat
            vestibulum mi cras amet mattis eget sit eros massa
          </li>
          <li>
            In elementum eros pellentesque cras lacus venenatis magna
            consectetur ut egestas porta erat dictum orci vestibulum enim amet
            et nunc nec velit eget auctor est turpis lorem auctor dolor neque
            convallis consectetur amet enim feugiat tempor id lorem vestibulum
          </li>
        </ul>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Ordered list, wrapped</h3>
        <ol>
          <li>
            Convallis luctus et massa venenatis euismod nisl tortor velit
            dignissim egestas amet in adipiscing id et in massa elementum auctor
            porta cras orci iaculis lacus gravida tempor malesuada adipiscing
            orci lacus pellentesque sed consequat consequat enim ac felis erat
            nisl consectetur
          </li>
          <li>
            Velit sit pellentesque dictum tortor id lacinia urna erat nunc
            aliquam lobortis lorem fusce tortor a nisl tincidunt vitae fusce
            eget elementum sit dictum dignissim auctor eros sed et dignissim
            viverra accumsan eros ac ante duis auctor iaculis viverra lorem
            luctus velit amet in lacus eget velit adipiscing dictum sit
            malesuada elementum sed magna pellentesque
          </li>
          <li>
            Nam est egestas erat cras cras auctor est feugiat gravida convallis
            eu dignissim enim auctor aliquam cras dignissim vitae erat duis erat
            massa vulputate aliquam sit tempor eget ut eu elementum magna tortor
          </li>
        </ol>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Unordered list, inline</h3>
        <ul class="inline">
          <li><a href="#ul_links">ante</a></li>
          <li><a href="#ul_links">consequat</a></li>
          <li><a href="#ul_links">venenatis</a></li>
          <li><a href="#ul_links">adipiscing</a></li>
          <li><a href="#ul_links">eu</a></li>
          <li><a href="#ul_links">vestibulum</a></li>
          <li><a href="#ul_links">consectetur</a></li>
          <li><a href="#ul_links">massa</a></li>
          <li><a href="#ul_links">a</a></li>
          <li><a href="#ul_links">euismod</a></li>
        </ul>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Ordered list, inline</h3>
        <ol class="inline">
          <li><a href="#ul_links">ante</a></li>
          <li><a href="#ul_links">consequat</a></li>
          <li><a href="#ul_links">venenatis</a></li>
          <li><a href="#ul_links">adipiscing</a></li>
          <li><a href="#ul_links">eu</a></li>
          <li><a href="#ul_links">vestibulum</a></li>
          <li><a href="#ul_links">consectetur</a></li>
          <li><a href="#ul_links">massa</a></li>
          <li><a href="#ul_links">a</a></li>
          <li><a href="#ul_links">euismod</a></li>
        </ol>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Unordered list, lined</h3>
        <ul class="lined">
          <li><a href="#ul_links">orci</a></li>
          <li><a href="#ul_links">velit</a></li>
          <li><a href="#ul_links">et</a></li>
          <li><a href="#ul_links">dignissim</a></li>
          <li><a href="#ul_links">feugiat</a></li>
          <li><a href="#ul_links">urna</a></li>
        </ul>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Ordered list, lined</h3>
        <ol class="lined">
          <li><a href="#ul_links">orci</a></li>
          <li><a href="#ul_links">velit</a></li>
          <li><a href="#ul_links">et</a></li>
          <li><a href="#ul_links">dignissim</a></li>
          <li><a href="#ul_links">feugiat</a></li>
          <li><a href="#ul_links">urna</a></li>
        </ol>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Unordered list, blocked</h3>
        <ul class="blocked">
          <li><a href="#ul_links">orci</a></li>
          <li><a href="#ul_links">velit</a></li>
          <li><a href="#ul_links">et</a></li>
          <li><a href="#ul_links">dignissim</a></li>
          <li><a href="#ul_links">feugiat</a></li>
          <li><a href="#ul_links">urna</a></li>
        </ul>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Ordered list, blocked</h3>
        <ol class="blocked">
          <li><a href="#ul_links">orci</a></li>
          <li><a href="#ul_links">velit</a></li>
          <li><a href="#ul_links">et</a></li>
          <li><a href="#ul_links">dignissim</a></li>
          <li><a href="#ul_links">feugiat</a></li>
          <li><a href="#ul_links">urna</a></li>
        </ol>
      </div>

      <h2 class="demo-heading">Tables</h2>

      <div class="demo-item">
        <h3 class="styleguide-heading">Full-width table</h3>
        <table class="data">
          <caption> LOREM CONVALLIS AMET </caption>
          <thead>
            <tr>
              <th>Sed egestas elit</th>
              <th>Dignissim tincidunt sed</th>
              <th>Eget lobortis sed</th>
              <th>Mattis amet sed</th>
              <th>Eu cras nam</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Eros eu ut</td>
              <td>Erat et neque</td>
              <td>Tortor turpis dignissim</td>
              <td>Convallis consectetur dignissim</td>
              <td>Dignissim erat gravida</td>
            </tr>
            <tr>
              <td>Id id sit</td>
              <td>Massa nam neque</td>
              <td>Nam adipiscing mattis</td>
              <td>Vitae auctor vestibulum</td>
              <td>Velit iaculis aliquam</td>
            </tr>
            <tr>
              <td>Fusce convallis urna</td>
              <td>Convallis ante lacus</td>
              <td>Turpis feugiat luctus</td>
              <td>Vulputate lorem velit</td>
              <td>Lobortis sed urna</td>
            </tr>
            <tr>
              <td>Venenatis convallis pellentesque</td>
              <td>Elit ut tincidunt</td>
              <td>Adipiscing aliquam egestas</td>
              <td>Dui nam nam</td>
              <td>Tortor neque ipsum</td>
            </tr>
            <tr>
              <td>Vitae amet amet</td>
              <td>Dolor sit felis</td>
              <td>Mattis dui ipsum</td>
              <td>Ac ante lorem</td>
              <td>Egestas nam dui</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="demo-item">
        <h3 class="styleguide-heading">Narrow table</h3>
        <table class="inline">
          <thead>
            <tr>
              <th>Dignissim tincidunt sed</th>
              <th>Eget lobortis sed</th>
              <th>Mattis amet sed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Erat et neque</td>
              <td>Tortor turpis dignissim</td>
              <td>Convallis consectetur dignissim</td>
            </tr>
            <tr>
              <td>Massa nam neque</td>
              <td>Nam adipiscing mattis</td>
              <td>Vitae auctor vestibulum</td>
            </tr>
            <tr>
              <td>Convallis ante lacus</td>
              <td>Turpis feugiat luctus</td>
              <td>Vulputate lorem velit</td>
            </tr>
            <tr>
              <td>Elit ut tincidunt</td>
              <td>Adipiscing aliquam egestas</td>
              <td>Dui nam nam</td>
            </tr>
            <tr>
              <td>Dolor sit felis</td>
              <td>Mattis dui ipsum</td>
              <td>Ac ante lorem</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="demo-heading" id="forms">Form Elements</h2>

      <div class="demo-item multi">
        <form method="post" action="">
          <fieldset>
            <legend>Fieldset</legend>
            <p>This is a fieldset. It has fields in it.</p>
            <div class="form-item">
              <label for="ex_text">Text field</label>
              <div class="input-holder">
                <input type="text" name="ex_text" value="text field" />
                <div class="input-help">This is a basic text input.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_pw">Password field</label>
              <div class="input-holder">
                <input type="password" name="ex_pw" value="password" />
                <div class="input-help">This is a basic password input.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_num">Number field</label>
              <div class="input-holder">
                <input type="number" name="ex_num" value="4" />
                <div class="input-help">This is a basic number input.</div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Another Fieldset</legend>
            <div class="form-item">
              <label for="ex_select">Select list</label>
              <div class="input-holder">
                <select name="ex_select">
                  <option>- Select -</option>
                  <option value="red">Red</option>
                  <option value="orange">Orange</option>
                  <option value="yellow">Yellow</option>
                  <option value="green">Green</option>
                  <option value="blue">Blue</option>
                  <option value="indigo">Indigo</option>
                  <option value="violet">Violet</option>
                </select>
                <div class="input-help">Look at the nice colors.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_multiselect">Multi-select list</label>
              <div class="input-holder">
                <select name="ex_multiselect" multiple="multiple">
                  <option value="red">Red</option>
                  <option value="orange">Orange</option>
                  <option value="yellow">Yellow</option>
                  <option value="green">Green</option>
                  <option value="blue">Blue</option>
                  <option value="indigo">Indigo</option>
                  <option value="violet">Violet</option>
                </select>
                <div class="input-help">Look at the nice colors.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_checkboxes_1">Checkboxes</label>
              <div class="input-holder">
                <fieldset>
                  <label
                    ><input
                      name="ex_checkboxes_1"
                      type="checkbox"
                      value="beef"
                    /> Beef</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_1"
                      type="checkbox"
                      value="chicken"
                    /> Chicken</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_1"
                      type="checkbox"
                      value="pork"
                    /> Pork</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_1"
                      type="checkbox"
                      value="lamb"
                    /> Lamb</label
                  >
                </fieldset>
                <div class="input-help">Select some meats.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_radios_1">Radio buttons</label>
              <div class="input-holder">
                <fieldset>
                  <label
                    ><input name="ex_radios_1" type="radio" value="beef" /> Beef</label
                  >
                  <label
                    ><input name="ex_radios_1" type="radio" value="chicken" />
                    Chicken</label
                  >
                  <label
                    ><input name="ex_radios_1" type="radio" value="pork" /> Pork</label
                  >
                  <label
                    ><input name="ex_radios_1" type="radio" value="lamb" /> Lamb</label
                  >
                </fieldset>
                <div class="input-help">Select a meat.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_checkboxes_2">Checkboxes, inline</label>
              <div class="input-holder">
                <fieldset class="inline">
                  <label
                    ><input
                      name="ex_checkboxes_2"
                      type="checkbox"
                      value="beef"
                    /> Beef</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_2"
                      type="checkbox"
                      value="chicken"
                    /> Chicken</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_2"
                      type="checkbox"
                      value="pork"
                    /> Pork</label
                  >
                  <label
                    ><input
                      name="ex_checkboxes_2"
                      type="checkbox"
                      value="lamb"
                    /> Lamb</label
                  >
                </fieldset>
                <div class="input-help">Select some meats.</div>
              </div>
            </div>
            <div class="form-item">
              <label for="ex_radios_2">Radio buttons, inline</label>
              <div class="input-holder">
                <fieldset class="inline">
                  <label
                    ><input name="ex_radios_2" type="radio" value="beef" /> Beef</label
                  >
                  <label
                    ><input name="ex_radios_2" type="radio" value="chicken" />
                    Chicken</label
                  >
                  <label
                    ><input name="ex_radios_2" type="radio" value="pork" /> Pork</label
                  >
                  <label
                    ><input name="ex_radios_2" type="radio" value="lamb" /> Lamb</label
                  >
                </fieldset>
                <div class="input-help">Select a meat.</div>
              </div>
            </div>
          </fieldset>
          <div class="form-item actions">
            <div class="input-holder">
              <input type="submit" value="Submit" class="btn" />
              <input type="reset" value="Clear" class="btn btn-reset" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </Section>
</Layout>
