---
import { Image } from "astro:assets";

import {
  author,
  profilePicGravatar,
  socialLinks as social,
} from "../siteData.ts";

import "./Bio.scss";
import YouCanFindMe from "./YouCanFindMe.astro";
---

<div class="bio">
  <div class="byline">
    <div class="avatar">
      <Image
        class="bio-avatar"
        src={profilePicGravatar}
        width={50}
        height={50}
        quality={80}
        alt="Profile picture"
      />
    </div>
    {
      author?.name && (
        <span>
          Written by <strong>{author.name}</strong>
        </span>
      )
    }
  </div>
  {
    social && (
      <YouCanFindMe />
    )
  }
</div>
