---
import ArticleList from "./ArticleList.astro";
import Section from "./Section.astro";
import { getPublishedBlogPosts } from "../helpers";

const posts = await getPublishedBlogPosts();
const showAllLink = posts.length > 3;
const postsTop3 = posts.slice(0, 3);
---

<Section>
  <h2>
    <span class="h-wrap">
      <span role="img" title="shrug"> 🤷‍♂️ </span>{" "}
      Articles or whatnot
    </span>
  </h2>
  <ArticleList posts={postsTop3} />
  {showAllLink && (
    <hr />
    <p>
      <a href="/articles" class="btn btn-wow">More articles</a>
    </p>
  )}
</Section>
