html {
  // font stuff goes on HTML so rems properly represent doc text size
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
body {
  background-color: var(--bg);
  color: var(--color);
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: $breakpoint-sm) {
  body {
    font-size: 20px;
    line-height: 1.25em;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--pop);
    }
  }
}
h1,
.h1 {
  font-size: 2.25em;
  line-height: 1.2em;
  color: var(--accent);
  margin-bottom: 2rem;
}
h2,
.h2 {
  font-size: 1.33rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
h3,
.h3 {
  // font-size: 1.15rem;
  color: var(--theme-teal);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
h4,
.h4 {
  font-size: 0.8rem;
}
h5,
.h5 {
  font-size: 0.8rem;
  font-style: italic;
}
h6,
.h6 {
  color: var(--theme-blue);
  font-size: 0.75rem;
}
p {
  margin: 0 0 var(--margin-bottom) 0;
  letter-spacing: 0.05em;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--link-hover);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: var(--margin-bottom);
  &.table-inline {
    width: auto;
  }
  tr td,
  tr th {
    padding: 0.15rem 0.33rem;
  }
  thead {
    tr th {
      font-size: var(--font-size-sm);
      border-bottom: 1px solid var(--line-color);
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px dotted var(--line-color-light);
      }
      th {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

blockquote {
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-left: 1px solid var(--line-color-light);
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.text-small {
  font-size: var(--font-size-sm);
}
.text-center {
  text-align: center;
}

hr {
  outline: none;
  border: 0 none;
  height: 1px;
  margin: 1.5rem 0;
  background-color: var(--line-color);
}

pre {
  padding: 1em;
  font-size: 0.75rem;
  line-height: 1.75;
}
