.btn {
  font-size: var(--font-size-sm);
  display: inline-block;
  padding: 0.25em 1em;
  &-outline {
    text-decoration: none;
    border: 1px solid currentColor;
  }
  &-accent {
    color: #fff;
    background-color: var(--theme-accent);
  }
  &-pop {
    color: #fff;
    background-color: var(--theme-pop);
  }
}
