@use "sass:list";

@import "./functions";
@import "./theme-builder";

// CSS Vars
// Only really have these so I can use them with color functions as needed.
$color: #333;
$gray: #999;
$screen: #e6e6e6;

$font-family: "Karla", sans-serif;
$font-size: 24px;
$font-size-sm: 0.8rem;
$font-size-code: 0.75rem;
$line-height: 1.5em;

$font-weight-bold: 600;

$margin-bottom: 1em;

$section-pad-y: 3rem;
$section-pad-x: 4rem;
$section-pad-y-sm: 1.25rem;
$section-pad-x-sm: 1.25rem;

$breakpoint-sm: 540px;

// THEME COLORS

// Default theme. (I'm using for Winter)
$default-theme-base: #870be0;
$default-theme-secondary: #73b9fb;
$default-gray-base: #757575; // Should be 50-ish% lightness!

// WINTER (alternative, not using)
// $winter-theme-base: #18a4ff;
// $winter-theme-secondary: #a16ec5;
// $winter-gray-base: #4a7eb2;

// SPRING
// $spring-theme-base: #2bd575;
// $spring-theme-secondary: #ffd456;
// $spring-gray-base: #96d52b;

// SUMMER
// $summer-theme-base: #00d7b9;
// $summer-theme-secondary: #ff6219;
// $summer-gray-base: #7f7f7f;

// FALL
// $fall-theme-base: #8e3b46;
// $fall-theme-secondary: #8fb749;
// $fall-gray-base: #b4714b;

// Now the CSS

:root {
  // non colors
  --font-family: #{$font-family};
  --font-size: #{$font-size};
  --font-size-sm: #{$font-size-sm};
  --font-size-code: #{$font-size-code};
  --line-height: #{$line-height};
  --font-weight-bold: #{$font-weight-bold};
  --margin-bottom: #{$margin-bottom};
  --section-pad-x: #{$section-pad-x};
  --section-pad-y: #{$section-pad-y};
  --section-pad-x-sm: #{$section-pad-x-sm};
  --section-pad-y-sm: #{$section-pad-y-sm};

  // colors, overridden by theme
  @include make-theme(
    $base: $default-theme-base,
    $secondary: $default-theme-secondary,
    $gray: $default-gray-base
  );
  --wave-img: url("/wave.svg");

  @media (prefers-color-scheme: dark) {
    @include make-dark-theme(
      $base: $default-theme-base,
      $secondary: $default-theme-secondary,
      $gray: $default-gray-base
    );
    --wave-img: url("/wave-night.svg");
  }

  @media only screen and (max-width: $breakpoint-sm) {
    --font-size: 18px;
    --line-height: 1.4em;
  }
}
