@use "sass:list";

@import "./functions";
@import "./theme-definitions";

// CSS Vars
// Only really have these so I can use them with color functions as needed.
$color: #333;
$gray: #999;
$screen: #e6e6e6;

$font-family: "Karla", sans-serif;
$font-size: 24px;
$font-size-sm: 0.8rem;
$font-size-code: 0.75rem;
$line-height: 1.5em;

$font-weight-bold: 600;

$margin-bottom: 1em;

$section-pad-y: 3rem;
$section-pad-x: 4rem;
$section-pad-y-sm: 2rem;
$section-pad-x-sm: 2rem;

$breakpoint-sm: 540px;

:root {
  // non colors
  --font-family: #{$font-family};
  --font-size: #{$font-size};
  --font-size-sm: #{$font-size-sm};
  --font-size-code: #{$font-size-code};
  --line-height: #{$line-height};
  --font-weight-bold: #{$font-weight-bold};
  --margin-bottom: #{$margin-bottom};
  --section-pad-x: #{$section-pad-x};
  --section-pad-y: #{$section-pad-y};
  --section-pad-x-sm: #{$section-pad-x-sm};
  --section-pad-y-sm: #{$section-pad-y-sm};

  // colors, overriden by theme
  @each $theme, $color in $theme-default-map {
    --#{$theme}: #{$color};
  }
  --wave-img: url("/wave.svg");

  @media (prefers-color-scheme: dark) {
    @each $theme, $color in $theme-default-dark-map {
      --#{$theme}: #{$color};
    }
    --wave-img: url("/wave-night.svg");
  }
}

// Theme setup
.theme-autumn {
  // colors
  @each $theme, $color in $theme-autumn-map {
    --#{$theme}: #{$color};
    --wave-img: url("/wave-autumn.svg");
  }

  @media (prefers-color-scheme: dark) {
    @each $theme, $color in $theme-autumn-dark-map {
      --#{$theme}: #{$color};
    }
  }
}
